<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-login">
        <div class="text-center">
          <h1>Reset password</h1>
          <h6>Please enter email to recovery password</h6>
        </div>
        <form [formGroup]="forgetForm" (ngSubmit)="forget()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
