<app-header></app-header>
<div class="container">
  <div class="row">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> I am a trader </mat-panel-title>
          <mat-panel-description>
            I want to sell my signals
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button *ngIf="!(isTrader$ | async)" (click)="makeUserAsTrader()">
          I want to be trader
        </button>
        <div class="trader" *ngIf="isTrader$ | async">
          <label for="traderFee">Trader fee from profit, %</label>
          <input id="traderFee" #fee type="text" [value]="traderFee$ | async" />
          <button class="btn btn-primary" (click)="updateFee(fee.value)">
            Update Fee
          </button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inCoin" class="form-label">Initial coin</label>
            <input
              formControlName="coin"
              (change)="onCoinChange()"
              type="text"
              class="form-control uppercase"
              id="inCoin"
            />
            <div class="error" *ngIf="f['coin'].touched && f['coin'].invalid">
              <div *ngIf="f['coin'].errors?.['required']">
                Coin is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="baseCoin" class="form-label">Base coin</label>
            <input
              formControlName="baseCoin"
              (change)="onCoinChange()"
              type="text"
              class="form-control uppercase"
              id="baseCoin"
            />
            <div
              class="error"
              *ngIf="f['baseCoin'].touched && f['baseCoin'].invalid"
            >
              <div *ngIf="f['baseCoin'].errors?.['required']">
                Coin is required.
              </div>
            </div>
          </div>
          <p *ngIf="price$ | async">
            Current price is
            <a class="clickPrice" (click)="clickPrice()">{{
              price$ | async
            }}</a>
            {{ form.value.coin }}/{{ form.value.baseCoin }}
          </p>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <label for="buyPrice" class="form-label">Price to buy</label>
              </div>
            </div>
            <input
              formControlName="buyPrice"
              type="text"
              class="form-control"
              id="buyPrice"
            />
            <div
              class="error"
              *ngIf="f['buyPrice'].touched && f['buyPrice'].invalid"
            >
              <div *ngIf="f['buyPrice'].errors?.['required']">
                Number is required.
              </div>
              <div *ngIf="f['buyPrice'].errors?.['pattern']">
                Enter only number.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <label for="tpPrice" class="form-label">Take profit price</label
                >&nbsp;&nbsp;
                <span *ngIf="price$ | async">
                  <a class="clickPrice" (click)="clickTpPrice(1)">+1%</a>&nbsp;/
                  <a class="clickPrice" (click)="clickTpPrice(2)">+2%</a>&nbsp;/
                  <a class="clickPrice" (click)="clickTpPrice(5)">+5%</a>
                </span>
              </div>
            </div>
            <input
              formControlName="tpPrice"
              type="text"
              class="form-control"
              id="tpPrice"
            />
            <div
              class="error"
              *ngIf="f['tpPrice'].touched && f['tpPrice'].invalid"
            >
              <div *ngIf="f['tpPrice'].errors?.['required']">
                Number is required.
              </div>
              <div *ngIf="f['tpPrice'].errors?.['pattern']">
                Enter only number.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <label for="slPrice" class="form-label">Stop loss price</label
                >&nbsp;&nbsp;
                <span *ngIf="price$ | async">
                  <a class="clickPrice" (click)="clickSlPrice(1)">-1%</a>&nbsp;/
                  <a class="clickPrice" (click)="clickSlPrice(2)">-2%</a>&nbsp;/
                  <a class="clickPrice" (click)="clickSlPrice(5)">-5%</a>
                </span>
              </div>
            </div>
            <input
              formControlName="slPrice"
              type="text"
              class="form-control"
              id="slPrice"
            />
            <div
              class="error"
              *ngIf="f['slPrice'].touched && f['slPrice'].invalid"
            >
              <div *ngIf="f['slPrice'].errors?.['required']">
                Number is required.
              </div>
              <div *ngIf="f['slPrice'].errors?.['pattern']">
                Enter only number.
              </div>
            </div>
          </div>
          <div class="mt-2">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
            >
              Send signal
            </button>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> I am a user </mat-panel-title>
          <mat-panel-description>
            I want to subscribe traders
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="table" *ngIf="preparedTrader$ | async">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Trader Name</th>
              <th scope="col">Api key</th>
              <th scope="col">Wallet</th>
              <th scope="col">Subscribe</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let trader of preparedTrader$ | async; let i = index"
              [ngClass]="{ subscribedTrader: trader.isSubscribed }"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ trader.name }}</td>
              <td>
                <select name="api" id="api" *ngIf="apiKeys$ | async">
                  <option
                    *ngFor="let apiKey of apiKeys$ | async"
                    val="apiKey.apiName"
                  >
                    {{ apiKey.apiName }}
                  </option>
                </select>
              </td>
              <ng-container *ngIf="!trader.isSubscribed">
                <td>$<input type="text" #wallet /></td>
                <td>
                  <button
                    class="btn btn-primary"
                    (click)="subscribeTrader(trader.id, wallet.value)"
                  >
                    Subscribe
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="trader.isSubscribed">
                <td>
                  <span type="text">${{ trader.walletSize }}</span>
                </td>

                <td *ngIf="trader.isSubscribed">
                  <button
                    class="btn btn-danger"
                    (click)="unSubscribeTrader(trader.id)"
                  >
                    Unsubscribe
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<app-footer></app-footer>
