.container {
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 600px;
}
.subscribedTrader {
  background-color: #d5edd5;
}
.trader button,
.trader input {
  margin-left: 5px;
}
.uppercase {
  text-transform: uppercase;
}
