<app-header></app-header>
<div class="container">
  <div class="row">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> I am a trader </mat-panel-title>
          <mat-panel-description>
            I want to sell my signals
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button *ngIf="!(isTrader$ | async)" (click)="makeUserAsTrader()">
          I want to be trader
        </button>
        <div class="trader" *ngIf="isTrader$ | async">
          <label for="traderFee">Trader fee from profit, %</label>
          <input id="traderFee" #fee type="text" [value]="traderFee$ | async" />
          <button class="btn btn-primary" (click)="updateFee(fee.value)">
            Update Fee
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> I am a user </mat-panel-title>
          <mat-panel-description>
            I want to subscribe traders
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table class="table" *ngIf="preparedTrader$ | async">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Trader Name</th>
              <th scope="col">Wallet</th>
              <th scope="col">Subscribe</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let trader of preparedTrader$ | async; let i = index"
              [ngClass]="{ subscribedTrader: trader.isSubscribed }"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ trader.name }}</td>
              <ng-container *ngIf="!trader.isSubscribed">
                <td>$<input type="text" #wallet /></td>
                <td>
                  <button
                    class="btn btn-primary"
                    (click)="subscribeTrader(trader.id, wallet.value)"
                  >
                    Subscribe
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="trader.isSubscribed">
                <td>
                  <span type="text">${{ trader.walletSize }}</span>
                </td>

                <td *ngIf="trader.isSubscribed">
                  <button
                    class="btn btn-danger"
                    (click)="unSubscribeTrader(trader.id)"
                  >
                    Unsubscribe
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<app-footer></app-footer>
