<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-signup">
        <div class="text-center">
          <h1>New password</h1>
          <h6>Input new password</h6>
        </div>
        <mc-backend-error-messages
          *ngIf="backendErrors$ | async"
          [backendErrors]="backendErrors$ | async"
        ></mc-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Repeat password</label>
            <input
              formControlName="copyPassword"
              type="password"
              class="form-control"
              id="copyPassword"
            />
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary">
              Reset password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
