<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-login">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Please enter email and password</h6>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <!-- <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
              </div>
              <div class="col">
                <a class="login-link mt-2" routerLink="/auth/forget"
                  >Forget? Click here</a
                >
              </div>
            </div>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <div class="mt-2">
            <a class="login-link mt-2" routerLink="/signup"
              >New user? Click to signup</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
