<header class="header">
  <nav
    class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
    role="navigation"
  >
    <a class="navbar-brand" href="#" role="banner">Копитрейд</a>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Аккаунты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Настройки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Сигналы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Подписки</a>
        </li>
      </ul>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        test@gmail.com
      </button>
    </div>
  </nav>
</header>
