<app-header></app-header>
<div class="container">
  <div class="row">
    <mc-backend-error-messages
      *ngIf="backendErrors$ | async"
      [backendErrors]="backendErrors$ | async"
    ></mc-backend-error-messages>
    <form [formGroup]="form">
      <div class="mb-3">
        <p class="form-label">Market type</p>
        <mat-radio-group
          aria-label="Market type"
          formControlName="exchangeMarket"
        >
          <mat-radio-button value="Spot">Spot</mat-radio-button>
          <mat-radio-button value="Futures">Futures</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="mb-3">
        <label for="apiName" class="form-label">Api name</label>
        <input
          formControlName="apiName"
          type="text"
          class="form-control"
          id="apiName"
        />
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="apiKey" class="form-label">Api key</label>
          </div>
        </div>
        <input
          formControlName="apiKey"
          type="text"
          class="form-control"
          id="apiKey"
        />
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="apiSecret" class="form-label">Api secret</label>
          </div>
        </div>
        <input
          formControlName="apiSecret"
          type="text"
          class="form-control"
          id="apiSecret"
        />
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">
          Save api key
        </button>
      </div>
      <table class="table" *ngIf="exchanges$ | async">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Exchange</th>
            <th scope="col">Market</th>
            <th scope="col">apiKey</th>
            <th scope="col">apiSecret</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apiKey of exchanges$ | async; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ apiKey.apiName }}</td>
            <td>{{ apiKey.exchange }}</td>
            <td>{{ apiKey.exchangeMarket }}</td>
            <td>
              {{ apiKey.apiKey | slice: 0:3 }}***{{ apiKey.apiKey | slice: -3 }}
            </td>
            <td>
              {{ apiKey.apiSecret | slice: 0:3 }}***{{
                apiKey.apiSecret | slice: -3
              }}
            </td>
            <td>
              <button (click)="removeKey(apiKey.apiName)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<app-footer></app-footer>
