.container {
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 600px;
}
[type="submit"] {
  margin-bottom: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}