<div class="container content">
  <div class="row">
    <p>Пользуясь сервисом Копитрейд я хочу:</p>
    <br />
  </div>
  <div class="row">
    <div class="col-md-6">
      <button
        class="trader btn btn-basic"
        [ngClass]="isUser === false ? 'btn-primary' : 'passive'"
        (click)="onClick(false)"
      >
        Транслировать сигналы
      </button>
    </div>
    <div class="col-md-6">
      <button
        mat-stroked-button
        class="trader btn btn-basic"
        [ngClass]="isUser === true ? 'btn-primary' : 'passive'"
        (click)="onClick(true)"
      >
        Подписаться на сигналы
      </button>
    </div>
  </div>
  <div class="container" *ngIf="isUser === false">
    <div class="row"></div>
    <div class="row">
      <label for="profitPercent">Желаемый процент профита</label>
      <input id="profitPercent" placeholder="%" [(ngModel)]="percent" />
    </div>
  </div>
  <div class="row m-2">
    <button class="btn btn-primary" (click)="onSave()">Сохранить</button>
  </div>
</div>
