<div class="container">
  <div class="row">
    <div class="font-size-1">
      <p class="text-muted small">
        HIGH RISK WARNING: Foreign exchange trading carries a high level of risk
        that may not be suitable for all investors. Leverage creates additional
        risk and loss exposure. Before you decide to trade foreign exchange,
        carefully consider your investment objectives, experience level, and
        risk tolerance. You could lose some or all of your initial investment;
        do not invest money that you cannot afford to lose. Educate yourself on
        the risks associated with foreign exchange trading, and seek advice from
        an independent financial or tax advisor if you have any questions. Any
        data and information is provided 'as is' solely for informational
        purposes, and is not intended for trading purposes or advice.
      </p>
      <p class="text-muted small">
        PAST PERFORMANCE RESULTS ARE NOT NECESSARILY INDICATIVE OF FUTURE
        RESULTS. NO REPRESENTATION IS BEING MADE THAT ANY ACCOUNT WILL OR IS
        LIKELY TO ACHIEVE PROFITS OR LOSSES SIMILAR TO THOSE SHOWN. THERE ARE
        NUMEROUS OTHER FACTORS RELATED TO THE MARKETS IN GENERAL OR TO THE
        IMPLEMENTATION OF ANY SPECIFIC TRADING PROGRAM WHICH CANNOT BE FULLY
        ACCOUNTED FOR BY PAST PERFORMANCE RESULTS. PROSPECTIVE CLIENTS SHOULD BE
        PARTICULARLY WARY OF PLACING UNDUE RELIANCE ON PAST PERFORMANCE RESULTS
        AND SHOULD NOT BASE THEIR DECISION ON INVESTING IN ANY TRADING PROGRAM
        SOLELY ON THE PAST PERFORMANCE PRESENTED. ADDITIONALLY, IN MAKING AN
        INVESTMENT DECISION, PROSPECTIVE CLIENTS MUST ALSO RELY ON THEIR OWN
        EXAMINATION OF THE PERSON OR ENTITY MAKING THE TRADING DECISIONS AND THE
        TERMS OF THE ADVISORY AGREEMENT INCLUDING THE MERITS AND RISKS INVOLVED.
      </p>
    </div>
  </div>
</div>
